* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  background: #1e1e1e;
  color: white;
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  display: none;
}

h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: none;
  padding: 15px 35px;
  font-size: 2rem;
}
.videoWrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
video {
  height: 100%;
  width: auto;
}
#videoSelectBtn {
  position: absolute;
  top: 15px;
  left: 25px;
}
.windowContainer {
  margin-top: 15px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.windowContainer:hover {
  opacity: 0.8;
}
button {
  background: linear-gradient(136.64deg, #1144f9 5.27%, #11f997 93.92%);
  opacity: 0.9;
  color: white;
  text-align: center;
}
button:hover {
  opacity: 0.5;
  text-align: center;
}
.resButton {
  user-select: none;
  width: 170px;
}
#zoomControls {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#sizeSelectWrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: opacity 0.5s ease-in-out;
  padding: 15px 25px;
}
.addBackground {
  background-color: rgba(0, 0, 0, 0.8);
}
#sizeSelectWrapper:hover {
  opacity: 1 !important;
}
#sizeSelectWrapper button {
  display: block;
}
#note {
  font-size: smaller;
  width: 150px;
}
